<!DOCTYPE html>
<html>

	<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/start.css') }}">
	</head>

	<body>

		<h1>SafeHearts </h1>
		<h2> How is it works?</h2>
		<p>All human bodies are different from each other. Our vitals can change with our sex, age and
		such other factors. To our machine learning algorithm to make prediction on early diagnosis,
		we require some health information which will be used in the model. Please fill the form
		in the next page and you will reach to the results immediately.</p>
		
		<form action="http://0.0.0.0/personalinfo">
			<input type="submit" id="startbutton" value="Take me to the form" />
		</form>

	</body>
</html>