<!DOCTYPE html>
<html>

	<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/welcome.css') }}">
	</head>

	<body>

		<h1> SafeHearts </h1>
		
		<p> <b> Better to be safe than sorry! </b> </br>
		<p id="message">According to calculations of our machine learning model, there is a chance of presence </br>
		of hearth disease or it can happen in near future. Please contact with your doctor for further instructions.</p>
		<img src="{{url_for('static', filename='warning.png')}}" align="middle" />
		<p><b> Thank you for using SafeHearts </b></p>
		<form action="/">
			<input type="submit" id="startbutton" value="Go back to welcome page" />
		</form>
		
		

	</body>
</html>