<!DOCTYPE html>
<html>

	<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/welcome.css') }}">
	</head>

	<body>

		<h1>Welcome to SafeHearts </h1>
		<p>Heart disease is the leading cause of death for men, women, and people of 
		most racial and ethnic groups in the USA and the second in Canada. Every hour 
		12 Canadian adults age 20+ with diagnosed heart disease die. The early detection
		can help reducing the risk of heart disease. SafeHearts applies machine learning 
		techniques to detect hidden patterns and to predict the presence of heart disease.</p>
		<h2> Get your FREE test with us today!</h2>
		<form action="http://127.0.0.1:5000/start">
			<input type="submit" id="startbutton" value="Click here to start your test" />
		</form>
		<p id="credit">Ramon Vilarins </br> Umutcan Asutlu</p>
	</body>
</html>