body {
	background-color: #D62728;
	color: #dddddd;
	text-align: center;
}

h1{
	color: #ffffff;
	font-size: 86px;
}

h2{
	margin-top: 80px;
	color: #ffffff;
	font-size: 56px;
	
}

label{
	font-size: 26px;
}


#agefield{
	width:30px;
	margin-top: 20px;
	height:20px;
	width:30px;
}

#selectchest{
	margin-top:20px;
}

#rbp{
	margin-top:20px;
	height:20px;
	width:30px;	
}

#secho{
	margin-top:20px;
	height:20px;
	width:30px;
}

#fbs{
	margin-top:20px;
}

#ecg{
	margin-top:20px;
}

#heartrate{
	margin-top:20px;
	height:20px;
	width:30px;
}

#angina{
	margin-top:20px;
}

#slope{
	margin-top:20px;
}

#vessel{
	margin-top:20px;
}

#thalassemia{
	margin-top:20px;
}

#stseg{
	margin-top:20px;
	height:20px;
	width:30px;
}

#startbutton{
	border-color: #eeeeee;
	background:transparent;
	margin-top:50px;
	margin-bottom:50px;
	font-size: 32px;
	color:#eeeeee;
}

p{
	font-size: 30px;
	margin-left: 70px;
	margin-right: 70px;
}
