body {
	background-color: #D62728;
	color: #dddddd;
	margin-left: 200px;
}

h1{
	color: #ffffff;
	font-size: 86px;
	text-align: center;
	margin-left: -200px;

}

h2{
	margin-top: 80px;
	color: #ffffff;
	font-size: 56px;
	
}

p{
	font-size: 30px;
	margin-right: 70px;
}



#startbutton{
	border-color: #eeeeee;
	background:transparent;
	margin-top:20px;
	font-size: 32px;
	color:#eeeeee;
	margin-left:370px;
}
